.newbook{
    flex-direction: row !important;
    
    display: flex;
    flex-flow: row wrap;
}



.sellmore{
    
    display: flex;
    flex-flow: row wrap;

}

.sold{

    
    margin-top:10px ;
    display: flex;
    flex-flow: row wrap;
}
.librairie{
    
    margin-top:10px ;
    display: flex;
    flex-flow: row wrap;
}
