{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}

{% block body %}
    <h1>Create new Order</h1>
{{ form_start(form) }}




<h1 class="center">Paiement</h1>

    <div id="card" class="input-field col s12 l6">
       {{ form_widget(form.nom) }}
        <label for="card_name">Nom sur la carte</label>
    </div>

    <div id="card-element" class="input-fields col s12 l6">
   
    </div>



    <div class="input-field col s12 l6">
        <button  class="btn btn-large waves-effect waves-light pink lighten-1 col s12" type="submit" >
            Payer
        </button>
    </div>
{{ form_end(form) }}
{% endblock %}
{% block javascripts %}
   
    <script>

    let stripe = Stripe("pk_test_51IudYJE6zq9JtjMeicjOrAVK20EPg4tDenbOCJR8qlP9UOTXSyZNFPEc7m6q1I5Gd8LhewzKZapzBhqSN2A20Pv900JLvBFwXS");
    // The items the customer wants to buy
    let elements = stripe.elements();

    var style = {
    base: {
    // Add your base input styles here. For example:
    fontSize: '16px',
    color: '#32325d',
    },
    };

    // Create an instance of the card Element.
    var card = elements.create('card', {style: style});

        // Add an instance of the card Element into the `card-element` <div>.
    card.mount('#card-element');

</script>


  


    <a href="{{ path('order_index') }}">back to list</a>
{% endblock %}
